/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 19, 2017, 6:47:58 PM
    Author     : Veronica Chierzi
*/

button-center {
    text-align: center;
}
.centraTesto{
    margin:auto;
}
body, html{
    width: 100%;
    height: 100%;
    cursor:default;
}
html .sfondoHome {
    background-image: url("../img/bg/img0.jpg");/* no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 50%;
    /*position: absolute; non va non metterlo*/
    height: 100%;
    background-repeat: no-repeat; 
    background-position: center;
    background-color: #F7F7F7;
    background-attachment: fixed;

}
html .sfondo {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*position: absolute; non va  non metterlo*/
    height: 100%;
    background-repeat: no-repeat; 
    background-position: center;
    background-color: #F7F7F7;
    background-attachment: fixed;

}
html .sfondoP {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*position: absolute; non va non metterlo*/
    height: 100%;
    background-repeat: no-repeat; 
    background-position: center;
    background-color: #FBFBFB;
    background-attachment: fixed;

}

header.masthead {
    position: absolute;
    width: 100%;
    /*height: 100%;
    min-height: -webkit-fill-available;*/

    color: white;
    background-repeat: no-repeat; 
    background-position: center;
    background-color: #F7F7F7;
}

header.masthead .header-content {
    position: relative;
    width: 100%;
    padding: 150px 15px 100px;

}

header.masthead .header-content .header-content-inner h1 {
    font-size: 50px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

header.masthead .header-content .header-content-inner hr {
    margin: 30px auto;
}

header.masthead .header-content .header-content-inner p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.7);
}

.navbar {
    position: relative;
    min-height: 40px;
    margin-bottom: 0px;
    height: 55px;
}
@media (min-width: 800px) {
    header.masthead {
        /*height: 100%;
        min-height: -webkit-fill-available;*/
    }
    header.masthead .header-content {
        position: absolute;
        top: 100%;
        padding: 0 0px;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    header.masthead .header-content .header-content-inner {
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
    }
    header.masthead .header-content .header-content-inner h1 {
        font-size: 50px;
    }
    header.masthead .header-content .header-content-inner p {
        font-size: 18px;
        max-width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
}
.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 5px;
    width: auto;
}

/*.resizeSearch {
    width: 60%;
    margin-right: 10px;
    margin-left: 10px;
}*/

@media (min-width: 1100px){
    .resizeSearch {
        width: 60%;
        margin-right: 10px;
        margin-left: 10px;
    }
}

.resizeRegistration {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 850px){
    .resizeRegistration {
        width: 40%;
        margin-right: auto;
        margin-left: auto;
    }
}

.resizeImg {
    margin: 10px;
    width: 35%;
    height: 35%;
}
.resizeImgHome {
    width: 35%;
    height: 35%;
    margin-top: 30px
}
@media (min-width: 900px){
    .resizeImg {
        margin: 20px;
        width: 25%;
        height: 25%;
    }
}
@media (min-width: 1300px){
    .resizeImg {
        margin: 20px;
        width: 20%;
        height: 20%;
    }
}
@media (min-width: 1500px){
    .resizeImg {
        margin: 20px;
        width: 10%;
        height: 10%;
    }
}

.white{
    color: white;
}
a {
    color: #000;
    text-decoration: none;
}
label{
    color:#000;
    font-family: Quicksand, sans-serif;
    text-align: left;
}

h1 {
    font-family: Quicksand, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    color: black;
    margin-top: 5px;
    padding-bottom: 10px;
}
h1#negozio{
    margin-top: 30px;
    margin-left: 30px;
}
@media (min-width: 500px){
    h1 {
        font-family: Quicksand, sans-serif;
        font-size: 30px;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 26.4px;
        color: black;
        margin-top: 10px;
        padding-bottom: 10px;
    }
}

.border{
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    padding-right: 30px;
    border-color: #DEDEDE;
}

.hide{
    display: none;
}

.paddingRightInput{
    margin-right: 30px;
}

.centerImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navbar-transparent {
    background: rgb(229, 229, 229);
    text-color: black;
}

.imageCycle0{
    background-image:url("images/bg/img0.jpg");
}
.imageCycle1{
    background-image:url("images/bg/img1.jpg");
}
.imageCycle2{
    background-image:url("images/bg/img2.jpg");
}
.imageCycle3{
    background-image:url("images/bg/img3.jpg");
}
.imageCycle4{
    background-image:url("images/bg/img4.jpg");
}
.imageCycle5{
    background-image:url("images/bg/img5.jpg");
}
.imageCycle6{
    background-image:url("images/bg/img6.jpg");
}

.black{
    color:black;
}
.navbar-toggle .icon-bar {
    background-color: black;
}

/* unvisited link */
a:link {
    color:#607D8B ;
}

/* visited link */
a:visited {
    color: #607D8B;
}
a#nonverif{
	color:#840505 ;
	background-color: #f7efef

}
a#nonverif:hover{
	color:#840505 ;
	background-color: #f7efef

}
a#nonverif:visited{
	color:#840505 ;
	background-color: #f7efef
}

/* mouse over link */
a:hover {
    color: black;
}

.btn {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    font-family: Quicksand, sans-serif;
}

.btn-primary {
    color: #000;
    border-color: #D7BF84;
    background-color: #D7BF84; 
}
.btn-secondary {
    color: #000;
    border-color: #f4e8c8;
    background-color: #f4e8c8; 
}
.btn-primary:hover {
    color: whitesmoke;
    border-color: #345943;
    background-color: #345943; }
.btn-secondary:hover {
    color: whitesmoke;
    border-color: #345943;
    background-color: #345943; }

.showLogo{
    display: none;
}
@media (min-width: 500px){
    .showLogo{
        display: block;
    }
}


/*per footer*/
.footer-basic-centered{
    text-align: center;
}

.footer-basic-centered .footer-company-motto{
    color:  #8d9093;
    font-size: 24px;
    margin: 0;
}

.footer-basic-centered .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    margin: 0;
}

.footer-basic-centered .footer-links{
    font-family: inherit;
    color:  black;
    margin-top: 10px;
}

.footer-basic-centered .footer-links a{
    display:inline-block;
    text-decoration: none;
    color: inherit;
}
.showFoot{
    display: none
}
@media (min-width: 800px){
    .showFoot{
        display: block
    }
}

.footer {
    /*position: absolute;*/
    margin-right: 0;
    bottom: 0;
    margin-left: 0;
    width: 100%;
    background-color: #bcb7ad;
    text-align: center;
}
.resizeImgFooter{
    height: 40%;
    width: 40%;
    margin: 10px;
}
.search {
    width: auto;
    position: relative;
    vertical-align: middle;
}
/*Resize the wrap to see the search bar change!*/

.wrap {
    width: auto;
    left: auto;
}
.borderBarra{
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    padding-right: 10px;
    border-color: #8f9296;
    background: #8f9296;
}
.bgBarraRicerca{
    background-color: #8f9296;
    vertical-align: middle;
    display: block;
}

ul#paginazione {
    font-family: Quicksand, sans-serif;
    font-size: 17px;
    margin: 0;
    padding: 0;
    list-style: none;
}

li#barraheader {
	height:130px;
}
@media (min-width: 800px){
	li#barraheader{
		height:66px;
	}
}

table#negozietto tr {
	display: inline-grid;
}
table#negozietto tr#via{
    display: none;
}
@media (min-width: 800px){
	table#negozietto tr {
	display: table;
}
table#negozietto tr#via{
    display: block;
}
}

ul#barra{
    font-family: Quicksand, sans-serif;
    font-size: 16px;
    color: #F7F7F7;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    position: relative;
    text-align: center;
	display: grid;
    vertical-align: middle;
}
@media (min-width: 800px){
	ul#barra {
		display: inline-table;
	}
}

/*bottone categorie*/
li#barraL {
    display: inline-table;
    float: left;
    margin-left: auto;
	margin-right: auto;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;

}

@media (min-width: 800px){
	li#barraL {
		display: inline-table;
		float: left;
		margin-left: 20px;
		vertical-align: middle;
		margin-top: auto;
		margin-bottom: auto;

	}
}


.dropbtn {
    background-color: #8f9296;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
/*nascosto di default*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F7F7F7;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content table{
    /* border: #bcb7ad; */
    /*padding: 5px 5px;*/
    text-decoration: none;
    display: block;
    border-style: hidden;
    border-spacing: 0;
    border-color: #bcb7ad;
}

.dropdown-content table tr a {
    padding: 4px 4px;
    /* text-decoration: none; */
    display: block;
    /* font-style: normal; */
    color: black;
	font-size: 15px;
}

.dropdown-content a:hover {
    background-color: #F2F2F2;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #808080;
}
li#barraC {
	margin-left: auto;
	margin-right: 5px;
	position: sticky;	
}

@media (min-width: 800px){
	li#barraC {
		display: inline-table;
		width: 50%;
	}
}

.centroCentro{
    vertical-align: middle;
    position: relative;
    margin-top: 5px;
    vertical-align: middle;
}
li#barraR {
    margin-left: auto;
	margin-right: auto;
}
@media (min-width: 800px){
    li#barraR {
		display: inline-table;
		float: right;
		margin-right: 20px;
		vertical-align: middle;   
	}
}

#categoriaBarra{ 
	font-weight: lighter; 
	color: grey; 
	font-style: italic; 
	font-size: 20px; 
	margin: 5px;
	padding: 2px;
	height: 60px;
	text-align: center;	
}
#cosinoBello{
	display: grid;
}
@media (min-width: 800px){
    #cosinoBello{
        display: flex;
    }
}


div#esternoBarra{
    margin:0;
    padding: 0;
    list-style-type: none;
}
ul#categorie {
    font-family: Quicksand, sans-serif;
    font-size: 19px;
    margin-left: 15px;
    padding: 0;
    list-style: none;
}
.subcat {
    font-family: Quicksand, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    margin-left: 30px;
    padding: 0;
    display:none;
    list-style: none;
}
form .containerA {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: inline-table;
    margin: 0 auto;
    margin-left: 20%;
    margin-right: 20%;
}
ul{
	list-style:none;
	padding-left: 0px;
}

ul#profilo{
    font-family: Quicksand, sans-serif;
    font-size: 16px;
    color: #F7F7F7;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    position: relative;
    text-align: center;
    display: inline-table;
    vertical-align: middle;
}

/*cose per prodotti*/
ul#risRicerca{
    font-family: Quicksand, sans-serif;
    font-size: 16px;
    color: #000;
    /*font-weight: bolder; LUCA */
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: inline-table;
}
li#risRicerca.prodotti{
    display:inline-table;
    width:90%;
    margin-top: 20px;
}
ul#products li { 
    display: inline-table;
    margin-left: 10px;
    margin-top:0;
}
tr#products td#products.descrizione { 
    display: inline-table;
    margin-left: 10px;
    margin-top:0;
}

.totale{
	font-weight: bold; 
    display: block; 
    margin-bottom: 15px; 
    color: #8f9296; 
    font-size: 25px; 
    margin-top: 15px;
}

td#products span.price { 
    font-weight: bold; 
    display: block; 
    margin-bottom: 15px; 
    color: #8f9296; 
    font-size: 25px; 
    margin-top: 15px;
}
ul#products  span a{
    margin-right: 100px;
    float:right;
    text-align: right;
    margin-top: 50%;
    margin-bottom:50%;
} 
ul#products li#products.carrello { 
    margin-right: 30px;
    float:right;
    text-align: right;
    /*transform: translateY(100px);*/
}
.imgProdotto{  /*OK*/
    heigth:200px; 
    width:200px;
    border-style: solid;
    border-width: 5px;
    border-color: #fff;
}

h1.paddingLeftTop {
    padding-left: 20px;
    padding-top: 20px;
}

h1.paddingTop {
    padding-top: 20px;
}

/*PAGINA PRODOTTO*/
img.prodotto {
    width: 100%;
    height: auto;
}

p.descrizioneProdotto {
    margin-left: 5px;
    margin-right: 5px;
    font-style: italic;
}

div.addToCart {
    margin-top: 10px;
}
table {
    /* border-spacing: 10px; */
    border-collapse: initial;
}

table#products{
	margin-bottom: 50px;
}
table#product{
	margin-top: 20px;
}

ul#campiCarta li input{
	margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
	border-style: initial;
}

ul#campiCarta li#bottone input{
	margin-bottom: 60px; 
	display: table; 
	margin-left: auto; 
	margin-right: auto;
}


ul#pulsantiscelta li{
	margin: 10px;
}
ul#paginazione li#messico{
	display: table; 
	margin-left: auto; 
	margin-right: auto;
}
.price{
	font-weight: bold; 
    display: block; 
    margin-bottom: 15px; 
    color: #8f9296; 
    font-size: 25px; 
    margin-top: 15px;
}

#aggCarr{
	margin-top: 10px;
}

#mi{
	display: table; margin-left: auto; margin-right: auto; margin-top: 20px;
}
#sono{
	display: table-caption;
}
#divertita{
	display: table;
    margin-left: auto;
    margin-right: auto;
}
span#divertita div#sparire{
	display: none;
}

@media (min-width: 800px){
	#mi{
		display: table; margin-left: auto; margin-right: auto; margin-top: 20px;
	}
	#sono{
		display: flex;
	}
	#divertita{
		display: flex; margin-bottom: 20px;
	}
	span#divertita div#sparire{
		display: block;
	}
	
}
#aprisegnalazione{
	width: 60%;
	display: table;
    margin-left: auto;
    margin-right: auto;
}
tr#tabord td{
	text-align: center;
	display: inline-table;	
}
tr#tabord td div#argg{
	margin-bottom: 5px;
}
tr#tabord td#altroes{
	margin:10px;
        padding: 10px
}

@media (min-width: 900px){
    tr#tabord td{
	text-align: center;
	display: table-cell;	
}
}

#aprisegnalazione button{
	margin-left: auto;
	margin-right: auto;
	display: flex;
}
#aprisegnalazione{
	margin-top: 20px;
	margin-bottom: 30px;
}

#nonVerSpa{
    display: none
}
@media (min-width: 1200px){
    #nonVerSpa{
        display: inline
    }
}

div#puzzette h5{
	font-size: 16px;
}

#carreloo {
	display: grid;
}
tr#carreloo td a img {
	width: 300%;
        height: auto;
}
#tazza{
    width: 100%;
}
td#noope{
    display:none;
}
@media (min-width: 800px){
	#carreloo {
	display: block;
}
tr#carreloo td a img {
	width: 100%;
        height: auto;
}
#tazza{
    width: 50%;
}
td#noope{
    display:block;
}
}

tr#formaggio td {
    padding: 5px;
}