<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<context-param>
		<description>Database connection url</description>
		<param-name>dburl</param-name>
		<!-- online <param-value>jdbc:postgresql://54.37.15.93:3306/postgres</param-value>-->
		<!-- locale <param-value>jdbc:postgresql://127.0.0.1:5432/webprog</param-value>-->
		<param-value>jdbc:postgresql://54.37.15.93:3306/postgres</param-value>
	</context-param>
	<context-param>
		<description>Database usn</description>
		<param-name>dbusername</param-name>
		<!-- online <param-value>pweb</param-value>-->
		<!-- locale <param-value>postgres</param-value>-->
		<param-value>pweb</param-value>
	</context-param>
	<context-param>
		<description>Database psw</description>
		<param-name>dbpassword</param-name>
		<param-value>sette</param-value>
	</context-param>
	<context-param>
		<description>Email username</description>
		<param-name>usnemail</param-name>
		<param-value>noreply.ksmr@gmail.com</param-value>
	</context-param>
	<context-param>
		<description>Email psw</description>
		<param-name>pswemail</param-name>
		<param-value>bcycxkwctewgazfw</param-value>
	</context-param>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<listener>
		<description>ServletContextListener</description>
		<listener-class>it.unitn.disi.listeners.WebAppContextListener</listener-class>
	</listener>

	<!-- |||||||||||||||||||||||||||||||||| PUBLIC JSP ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
	<servlet>
		<servlet-name>SegnalazioneAdmin</servlet-name>
		<jsp-file>/WEB-INF/public/admin/segnalazione.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>SegnalazioniAdmin</servlet-name>
		<jsp-file>/WEB-INF/public/admin/segnalazioni.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>SegnalazioniOpenAdmin</servlet-name>
		<jsp-file>/WEB-INF/public/admin/segnalazioniOpen.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>Cart</servlet-name>
		<jsp-file>/WEB-INF/public/all/cart.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>Home</servlet-name>
		<jsp-file>/WEB-INF/public/all/home.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>Product</servlet-name>
		<jsp-file>/WEB-INF/public/all/product.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>ProductList</servlet-name>
		<jsp-file>/WEB-INF/public/all/productList.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>Seller</servlet-name>
		<jsp-file>/WEB-INF/public/all/seller</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>Shop</servlet-name>
		<jsp-file>/WEB-INF/public/all/shop.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>ConfirmUser</servlet-name>
		<jsp-file>/WEB-INF/public/anonymous/confirmUser.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>ForgottenPassword</servlet-name>
		<jsp-file>/WEB-INF/public/anonymous/ForgottenPassword.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<jsp-file>/WEB-INF/public/anonymous/login.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>Registration</servlet-name>
		<jsp-file>/WEB-INF/public/anonymous/registration.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>RegistrationSeller</servlet-name>
		<jsp-file>/WEB-INF/public/anonymous/registrationSeller.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>MySeller</servlet-name>
		<jsp-file>/WEB-INF/public/seller/mySeller.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>MyShop</servlet-name>
		<jsp-file>/WEB-INF/public/seller/myShop.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>OrderSeller</servlet-name>
		<jsp-file>/WEB-INF/public/seller/order.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>OrdersSeller</servlet-name>
		<jsp-file>/WEB-INF/public/seller/ordersSeller.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>OrdersShop</servlet-name>
		<jsp-file>/WEB-INF/public/seller/ordersShop.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>SegnalazioneSeller</servlet-name>
		<jsp-file>/WEB-INF/public/seller/segnalazione.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>SegnalazioniSeller</servlet-name>
		<jsp-file>/WEB-INF/public/seller/segnalazioni.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>SegnalazioniOpenSeller</servlet-name>
		<jsp-file>/WEB-INF/public/seller/segnalazioniOpen.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>SellProduct</servlet-name>
		<jsp-file>/WEB-INF/public/seller/sellProduct.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>ChangePassword</servlet-name>
		<jsp-file>/WEB-INF/public/user/changePassword.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>OrderUser</servlet-name>
		<jsp-file>/WEB-INF/public/user/order.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>OrdersUser</servlet-name>
		<jsp-file>/WEB-INF/public/user/orders.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>Profile</servlet-name>
		<jsp-file>/WEB-INF/public/user/profile.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>RegistrationSellerLog</servlet-name>
		<jsp-file>/WEB-INF/public/anonymous/registrationSellerLog.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>SegnalazioneUser</servlet-name>
		<jsp-file>/WEB-INF/public/user/segnalazioneUser.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>SegnalazioniUser</servlet-name>
		<jsp-file>/WEB-INF/public/user/segnalazioniUser.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>SegnalazioniOpenUser</servlet-name>
		<jsp-file>/WEB-INF/public/user/segnalazioniOpenUser.jsp</jsp-file>
	</servlet>
	
	<!-- |||||||||||||||||||||||||||||||||| PUBLIC JSP MAPPING ||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
	<servlet-mapping>
		<servlet-name>SegnalazioneAdmin</servlet-name>
		<url-pattern>/prova/SegnalazioneAdmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SegnalazioniAdmin</servlet-name>
		<url-pattern>/prova/SegnalazioniAdmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SegnalazioniOpenAdmin</servlet-name>
		<url-pattern>/prova/SegnalazioniOpenAdmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cart</servlet-name>
		<url-pattern>/prova/Cart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/prova/</url-pattern>
		<url-pattern>/prova/Home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Product</servlet-name>
		<url-pattern>/prova/Product</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductList</servlet-name>
		<url-pattern>/prova/ProductList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Seller</servlet-name>
		<url-pattern>/prova/Seller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Shop</servlet-name>
		<url-pattern>/prova/Shop</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfirmUser</servlet-name>
		<url-pattern>/prova/ConfirmUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgottenPassword</servlet-name>
		<url-pattern>/prova/ForgottenPassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/prova/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/prova/Registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrationSeller</servlet-name>
		<url-pattern>/prova/RegistrationSeller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MySeller</servlet-name>
		<url-pattern>/prova/MySeller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyShop</servlet-name>
		<url-pattern>/prova/MyShop</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderSeller</servlet-name>
		<url-pattern>/prova/OrderSeller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrdersSeller</servlet-name>
		<url-pattern>/prova/OrdersSeller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrdersShop</servlet-name>
		<url-pattern>/prova/OrdersShop</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SegnalazioneSeller</servlet-name>
		<url-pattern>/prova/SegnalazioneSeller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SegnalazioniSeller</servlet-name>
		<url-pattern>/prova/SegnalazioniSeller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SegnalazioniOpenSeller</servlet-name>
		<url-pattern>/prova/SegnalazioniOpenSeller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SellProduct</servlet-name>
		<url-pattern>/prova/SellProduct</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/prova/ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderUser</servlet-name>
		<url-pattern>/prova/OrderUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrdersUser</servlet-name>
		<url-pattern>/prova/OrdersUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Profile</servlet-name>
		<url-pattern>/prova/Profile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrationSellerLog</servlet-name>
		<url-pattern>/prova/RegistrationSellerLog</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SegnalazioneUser</servlet-name>
		<url-pattern>/prova/SegnalazioneUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SegnalazioniUser</servlet-name>
		<url-pattern>/prova/SegnalazioniUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SegnalazioniOpenUser</servlet-name>
		<url-pattern>/prova/SegnalazioniOpenUser</url-pattern>
	</servlet-mapping>
	
	<!-- |||||||||||||||||||||||||||||||||| PUBLIC DEBUG JSP ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
	<!-- da rimuovere prima della consegna -->
	<servlet>
		<servlet-name>CategoryContainer</servlet-name>
		<jsp-file>/WEB-INF/public/debug/categoryContainer.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>LocationContainer</servlet-name>
		<jsp-file>/WEB-INF/public/debug/locationContainer.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>NavbarComplete</servlet-name>
		<jsp-file>/WEB-INF/public/debug/navbarComplete.jsp</jsp-file>
	</servlet>
	<!-- |||||||||||||||||||||||||||||||||| PUBLIC DEBUG JSP MAPPING ||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
	<!-- da rimuovere prima della consegna -->
	<servlet-mapping>
		<servlet-name>CategoryContainer</servlet-name>
		<url-pattern>/prova/CategoryContainer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LocationContainer</servlet-name>
		<url-pattern>/prova/LocationContainer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NavbarComplete</servlet-name>
		<url-pattern>/prova/NavbarComplete</url-pattern>
	</servlet-mapping>

	
	<!-- |||||||||||||||||||||||||||||||||| PUBLIC SERVLET ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.pubbliche.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.pubbliche.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistrationServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.pubbliche.RegistrationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistrationSellerServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.pubbliche.RegistrationSellerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistrationSellerLogServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.pubbliche.RegistrationSellerLogServlet</servlet-class>
	</servlet>
	
	<!-- |||||||||||||||||||||||||||||||||| PUBLIC SERVLET MAPPING ||||||||||||||||||||||||||||||||||||||||||||||||||| -->	
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	
	<!-- |||||||||||||||||||||||||||||||||| PRIVATE SERVLET ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->	
	<servlet>
		<servlet-name>GetProductServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.privatee.GetProductServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetProductListServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.privatee.GetProductListServlet</servlet-class>
	</servlet>
	<!-- ||||||| ORDER ||||||| -->
	<servlet>
		<servlet-name>GetOrderSellerServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.privatee.GetOrderSellerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetOrdersSellerServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.privatee.GetOrdersSellerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetOrdersShopServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.privatee.GetOrdersShopServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetOrderUserServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.privatee.GetOrderUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetOrdersUserServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.privatee.GetOrdersUserServlet</servlet-class>
	</servlet>
	<!-- ||||||| SEGNALAZIONE ||||||| -->
	<servlet>
		<servlet-name>GetSegnalazioneAdminServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.privatee.GetSegnalazioneAdminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetSegnalazioneSellerServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.privatee.GetSegnalazioneSellerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetSegnalazioneUserServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.privatee.GetSegnalazioneUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetSegnalazioniAdminServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.privatee.GetSegnalazioniAdminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetSegnalazioniSellerServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.privatee.GetSegnalazioniSellerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetSegnalazioniUserServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.privatee.GetSegnalazioniUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetSegnalazioniOpenAdminServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.privatee.GetSegnalazioniOpenAdminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetSegnalazioniOpenSellerServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.privatee.GetSegnalazioniOpenSellerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetSegnalazioniOpenUserServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.privatee.GetSegnalazioniOpenUserServlet</servlet-class>
	</servlet>
	
	<!-- |||||||||||||||||||||||||||||||||| PRIVATE SERVLET MAPPING ||||||||||||||||||||||||||||||||||||||||||||||||||| -->	
	<servlet-mapping>
		<servlet-name>GetProductServlet</servlet-name>
		<url-pattern>/WEB-INF/servlet/GetProductServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetProductListServlet</servlet-name>
		<url-pattern>/WEB-INF/servlet/GetProductListServlet</url-pattern>
	</servlet-mapping>
	<!-- ||||||| ORDER ||||||| -->
	<servlet-mapping>
		<servlet-name>GetOrderSellerServlet</servlet-name>
		<url-pattern>/WEB-INF/servlet/GetOrderSellerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetOrdersSellerServlet</servlet-name>
		<url-pattern>/WEB-INF/servlet/GetOrdersSellerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetOrdersShopServlet</servlet-name>
		<url-pattern>/WEB-INF/servlet/GetOrdersShopServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetOrderUserServlet</servlet-name>
		<url-pattern>/WEB-INF/servlet/GetOrderUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetOrdersUserServlet</servlet-name>
		<url-pattern>/WEB-INF/servlet/GetOrdersUserServlet</url-pattern>
	</servlet-mapping>
	<!-- ||||||| SEGNALAZIONE ||||||| -->
	<servlet-mapping>
		<servlet-name>GetSegnalazioneAdminServlet</servlet-name>
		<url-pattern>/WEB-INF/servlet/GetSegnalazioneAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetSegnalazioneSellerServlet</servlet-name>
		<url-pattern>/WEB-INF/servlet/GetSegnalazioneSellerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetSegnalazioneUserServlet</servlet-name>
		<url-pattern>/WEB-INF/servlet/GetSegnalazioneUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetSegnalazioniAdminServlet</servlet-name>
		<url-pattern>/WEB-INF/servlet/GetSegnalazioniAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetSegnalazioniSellerServlet</servlet-name>
		<url-pattern>/WEB-INF/servlet/GetSegnalazioniSellerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetSegnalazioniUserServlet</servlet-name>
		<url-pattern>/WEB-INF/servlet/GetSegnalazioniUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetSegnalazioniOpenAdminServlet</servlet-name>
		<url-pattern>/WEB-INF/servlet/GetSegnalazioniOpenAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetSegnalazioniOpenSellerServlet</servlet-name>
		<url-pattern>/WEB-INF/servlet/GetSegnalazioniOpenSellerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetSegnalazioniOpenUserServlet</servlet-name>
		<url-pattern>/WEB-INF/servlet/GetSegnalazioniOpenUserServlet</url-pattern>
	</servlet-mapping>
	
	<!-- |||||||||||||||||||||||||||||||||| PRIVATE STARTUP SERVLET |||||||||||||||||||||||||||||||||||||||||||||||||| -->	
	<servlet>
		<servlet-name>LoadCategoryContainerServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.startup.LoadCategoryContainerServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>LoadLocationContainerServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.startup.LoadLocationContainerServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- |||||||||||||||||||||||||||||||||| FILTERS ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>it.unitn.disi.filters.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/user/*</url-pattern>
	</filter-mapping>

	<!-- |||||||||||||||||||||||||||||||||| ERROR PAGES |!!!!!!!!!!!|||||||||||||||||||||||||||||||||||||||||||||||||| -->	
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/error_pages/error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/WEB-INF/jsp/error_pages/error405.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/jsp/error_pages/error500.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/WEB-INF/jsp/error_pages/errorNullPointerException.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.io.IOException</exception-type >
		<location>/WEB-INF/jsp/error_pages/errorIOException.jsp</location>
	</error-page>
	<!--
	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type >
		<location>/WEB-INF/jsp/error_pages/errorServletException.jsp</location>
	</error-page>
	-->
	<!--
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/jsp/error_pages/errorUnknown.jsp</location>
	</error-page>
	-->

	<!-- |||||||||||||||||||||||||||||||||| OLD SERVLET |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->	
	<servlet>
		<servlet-name>NotificationServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.NotificationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InserisciCategorieServlet</servlet-name>
		<servlet-class>it.unitn.disi.debug.InserisciCategorieServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InserisciSottocategorieServlet</servlet-name>
		<servlet-class>it.unitn.disi.debug.InserisciSottocategorieServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InserisciProdottiServlet</servlet-name>
		<servlet-class>it.unitn.disi.debug.InserisciProdottiServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConfirmUserServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.ConfirmUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InserisciPuntiVenditaServlet</servlet-name>
		<servlet-class>it.unitn.disi.debug.InserisciPuntiVenditaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistrationServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.RegistrationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GeneraVenditaPuntiVenditaServlet</servlet-name>
		<servlet-class>it.unitn.disi.debug.GeneraVenditaPuntiVenditaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ForgotPasswordServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.ForgotPasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<servlet-class>it.unitn.disi.servlet.ChangePasswordServlet</servlet-class>
	</servlet>

	<!-- |||||||||||||||||||||||||||||||||| OLD SERVLET MAPPING |||||||||||||||||||||||||||||||||||||||||||||||||||||| -->	
	<servlet-mapping>
		<servlet-name>RegistrationServlet</servlet-name>
		<url-pattern>/RegistrationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NotificationServlet</servlet-name>
		<url-pattern>/NotificationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InserisciCategorieServlet</servlet-name>
		<url-pattern>/debug/InserisciCategorieServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InserisciSottocategorieServlet</servlet-name>
		<url-pattern>/debug/InserisciSottocategorieServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InserisciProdottiServlet</servlet-name>
		<url-pattern>/debug/InserisciProdottiServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfirmUserServlet</servlet-name>
		<url-pattern>/ConfirmUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InserisciPuntiVenditaServlet</servlet-name>
		<url-pattern>/debug/InserisciPuntiVenditaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GeneraVenditaPuntiVenditaServlet</servlet-name>
		<url-pattern>/debug/GeneraVenditaPuntiVenditaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgotPasswordServlet</servlet-name>
		<url-pattern>/ForgotPasswordServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<url-pattern>/ChangePassword</url-pattern>
	</servlet-mapping>
</web-app>
